<footer id="colophon" class="site-footer">

    <aside id="footer-widget-area" class="footer-widget-area" role="complementary" aria-label="Footer widget area">
        <div class="footer-widgets">
            <section id="text-5" class="widget footer-widget widget_text">
                <h2 class="widget-title h5">About the Site</h2>
                <div class="textwidget">
                    <p>Automatic Dev Team is a collection of articles, guides and resource lists focused on building high performance, autonomous software development teams.                        
                    </p>                    
                </div>
            </section>
            <section id="search-4" class="widget footer-widget widget_search">
                <h2 class="widget-title h5">About the Author</h2>
                <div class="social-icons">
                    <p>
                        Brian is an engineering manager focused on building high performance, autonomous software development teams</p>
                    <p>
                        You can find out more on his personal site, <a href="http://brianwaustin.com/">BrianWAustin.com</a>
                    </p>      
                </div>
            </section>
        </div>
    </aside>
    <!-- #secondary -->

    <div class="footer">
        <div class="footerContent">
            <p id="copyright" property="dc:rights">Site content &copy;
                <span property="dc:dateCopyrighted">2020-2021</span>
                <span property="dc:publisher">AutomaticDev.Team</span>
            </p>   
            
            <p>Site code is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 
                  International License</a>.
            </p>
    
        </div>
    </div>
    <!-- .footer-wrapper -->
</footer>
<!-- #colophon -->